
body{
    background: #352f5b;
}
.navbar-primary{
 background: #352f5b!important;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}
.list-group-item {
    background:  #423a6f !important;
}
.delete{
    cursor: pointer;
}
.nav{
    padding-bottom: 80px;
}
.nav-link{
    color: white !important;
    border-bottom: rgb(255, 255, 255) 1px solid;
}
.nav-link:hover{
    margin-left: 2px;
}
#putt{
     max-width: 500px;
}
#imput{
    margin-top: 20px;
    width: 400px !important;
    height: 43px;
}
.btn{
    padding:10px 15px !important;
}
.addbtn{
    position: absolute;
    border-radius: 60px;
    right: 30px;
    font-weight: 40px;
}
.myimage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
}
.bar {
    background: #352f5b !important;
     color: white !important;
}
#close{
    font-size: 22px;
    color: white !important;
}